.header {
  width: var(--width);
  height: 75px;
  @include seperate-items-between();
  &__logo {
    @include font(bold, white, 43px);
    letter-spacing: 0.29em;
    @include small {
      font-size: 28px;
    }
  }
}
