.input {
  @include box(var(--height));
  @include seperate-items-start();
  box-shadow: $shadows;
  margin-bottom: 30px;
  &__circleContiner {
    @include circleContiner;
  }
  &__circle {
    @include circle();
    border: $circle-border;
  }
  &__field {
    @include font(600, var(--filter));
    width: calc(var(--width) - 120px);
    background-color: transparent;
    border: none;
    outline: none;
    &:focus {
      caret-color: $blue;
      color: var(--typing);
    }
  }
  ::placeholder {
    color: var(--filter);
  }
}
