// GERNERAL MIXINS
@mixin center-item {
  display: grid;
  place-items: center;
}
@mixin seperate-items-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin seperate-items-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin seperate-items-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin font($weight, $color, $size) {
  font-weight: $weight;
  color: $color;
  font-size: $size;
  line-height: $size;
}
// SPECIFIC MIXINS
@mixin box($height: var(--height)) {
  width: var(--width);
  height: $height;
  background-color: var(--box);
  border-radius: 4px;
}
@mixin circle() {
  width: 28px;
  height: 26px;
  margin-left: 22px;
  border-radius: 100%;
  margin-right: 20px;
}
@mixin circle-before() {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 23px;
  height: 22px;
  border-radius: 100%;
  background: var(--box);
  content: "";
}
@mixin circle-after() {
  position: absolute;
  width: 100%;
  height: 100%;
  content: url(../images/icon-check.svg);
  @include center-item();
}

//BREAKPOINTS
@mixin big {
  @media screen and (min-width: 551px) {
    @content;
  }
}
@mixin medium {
  @media screen and (max-width: 550px) {
    @content;
  }
}
@mixin small {
  @media screen and (max-width: 375px) {
    @content;
  }
}
// COLOR
$blue: #3a7bfd;
$gradint: linear-gradient(
  139.05deg,
  hsl(192, 100%, 67%) 0%,
  hsl(280, 87%, 65%) 112.99%
);

// SHADOW
$shadows: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);

// SIZES
$width-page: 100vw;
$height-page: 100vh;
