* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  &.light {
    --bg: #fafafa;
    --bg-img-desktop: url(../images/bg-desktop-light.jpg);
    --bg-img-mobile: url(../images/bg-mobile-light.jpg);
    --box: #fafafa;
    --circle: #d2d3db;
    --tool-top: #9091a2;
    --filter: #9091a2;
    --typing: #484b6a;
    --completed-message: #e4e5f1;
    --uncompleted-message: #484b6a;
  }
  &.dark {
    --bg: #161722;
    --bg-img-desktop: url(../images/bg-desktop-dark.jpg);
    --bg-img-mobile: url(../images/bg-mobile-dark.jpg);
    --box: #24263d;
    --circle: #393a4c;
    --tool-top: #4d4f66;
    --filter: #777a92;
    --typing: #d8daee;
    --completed-message: #4d4f66;
    --uncompleted-message: #d8daee;
  }
  @import "./variables";
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  width: $width-page;
  height: $height-page;
  background: var(--bg-img-desktop) no-repeat;
  background-color: var(--bg);
  @import "./app";
}
