* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  --height: 64px;
  --width: 540px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  background: var(--bg-img-desktop) no-repeat;
  background-color: var(--bg);
}

@media screen and (max-width: 550px) {
  .container {
    --height: 48px;
    --width: 90vw;
  }
}

.container--light {
  --bg: #fafafa;
  --bg-img-desktop: url(../images/bg-desktop-light.jpg);
  --bg-img-mobile: url(../images/bg-mobile-light.jpg);
  --box: #fafafa;
  --circle: #d2d3db;
  --tool: #9091a2;
  --tool-hover: #505058;
  --filter: #9091a2;
  --typing: #484b6a;
  --completed-message: #e4e5f1;
  --uncompleted-message: #484b6a;
}

.container--dark {
  --bg: #161722;
  --bg-img-desktop: url(../images/bg-desktop-dark.jpg);
  --bg-img-mobile: url(../images/bg-mobile-dark.jpg);
  --box: #24263d;
  --circle: #393a4c;
  --tool: #4d4f66;
  --tool-hover: #d2d3db;
  --filter: #777a92;
  --typing: #d8daee;
  --completed-message: #4d4f66;
  --uncompleted-message: #d8daee;
}

@media screen and (max-width: 375px) {
  .container {
    background-image: var(--bg-img-mobile);
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.container__within {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-top: 178px;
}

@media screen and (max-width: 375px) {
  .container__within {
    padding-top: 40px;
  }
}

.header {
  width: var(--width);
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: bold;
  color: white;
  font-size: 43px;
  line-height: 43px;
  word-break: break-all;
  letter-spacing: 0.29em;
}

@media screen and (max-width: 375px) {
  .header__logo {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    font-size: 28px;
  }
}

.input {
  width: var(--width);
  min-height: var(--height);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  padding-left: 0;
  background-color: var(--box);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.input__circleContiner {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-right: 22px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.input__circle {
  width: 28px;
  height: 26px;
  border-radius: 100%;
  border: 2px solid var(--circle);
}

.input__field {
  font-weight: 600;
  color: var(--filter);
  font-size: 17px;
  line-height: 17px;
  word-break: break-all;
  width: calc(var(--width) - 120px);
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (max-width: 375px) {
  .input__field {
    font-size: 12px;
  }
}

.input__field:focus {
  caret-color: #3a7bfd;
  color: var(--typing);
}

.input ::-webkit-input-placeholder {
  color: var(--filter);
}

.input :-ms-input-placeholder {
  color: var(--filter);
}

.input ::-ms-input-placeholder {
  color: var(--filter);
}

.input ::placeholder {
  color: var(--filter);
}

.listOfTodos {
  width: var(--width);
  min-height: fix-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  padding-left: 0;
  background-color: var(--box);
  border-radius: 4px;
  -webkit-box-shadow: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.todo {
  width: var(--width);
  min-height: var(--height);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  padding-left: 0;
  background-color: var(--box);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--circle);
  cursor: pointer;
}

.todo__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.todo__circleContiner {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-right: 22px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.todo__circle {
  position: relative;
  width: 28px;
  height: 26px;
  border-radius: 100%;
}

.todo__circle--uncompleted {
  border: 2px solid var(--circle);
}

.todo__circle--completed {
  background: linear-gradient(139.05deg, #57ddff 0%, #c058f3 112.99%);
}

.todo__circle--completed::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: url(../images/icon-check.svg);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.todo__text {
  font-weight: 600;
  color: var(--uncompleted-message);
  font-size: 17px;
  line-height: 17px;
  word-break: break-all;
  margin-right: 50px;
}

@media screen and (max-width: 375px) {
  .todo__text {
    font-size: 12px;
  }
}

.todo__text--completed {
  text-decoration: line-through;
  color: var(--completed-message);
}

.todo__cross {
  margin-right: 20px;
}

@media screen and (min-width: 551px) {
  .todo__cross {
    display: none;
  }
}

.todo:hover .todo__cross {
  display: block;
}

.todo:hover .todo__circle--uncompleted {
  border: none;
  background: linear-gradient(139.05deg, #57ddff 0%, #c058f3 112.99%);
}

.todo:hover .todo__circle::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 23px;
  height: 22px;
  border-radius: 100%;
  background: var(--box);
  content: "";
}

.tool {
  width: var(--width);
  min-height: var(--height);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  padding-left: 0;
  background-color: var(--box);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  color: var(--tool);
  font-size: 13px;
  line-height: 13px;
  word-break: break-all;
  position: relative;
  padding: 20px;
}

@media screen and (max-width: 375px) {
  .tool {
    font-size: 12px;
  }
}

.tool__completedTodos, .tool__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tool__top {
  cursor: pointer;
}

.tool__top:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tool__top--num {
  margin-right: 5px;
}

.tool__top:hover {
  color: var(--tool-hover);
}

.tool__bottom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 375px) {
  .tool__bottom {
    position: absolute;
    top: calc(var(--height) + 20px);
    left: 0;
    width: var(--width);
    min-height: var(--height);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px;
    padding-left: 0;
    background-color: var(--box);
    border-radius: 4px;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

.tool__filter {
  -webkit-box-shadow: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 26px 5px rgba(0, 0, 0, 0.1);
}

.tool__filter p {
  cursor: pointer;
  font-weight: 700;
  margin-right: 10px;
}

@media screen and (max-width: 550px) {
  .tool__filter p {
    margin-right: 5px;
  }
}

@media screen and (max-width: 375px) {
  .tool__filter p {
    margin-right: 15px;
  }
}

.tool__filter p:hover {
  color: var(--tool-hover);
}

.tool__filter--option {
  color: #3a7bfd;
}
/*# sourceMappingURL=style.css.map */