.tool {
  @include box(var(--height));
  @include seperate-items-between();
  @include font(300, var(--tool), 13px);
  position: relative;
  padding: 20px;
  &__completedTodos,
  &__filter {
    @include seperate-items-between();
  }
  &__completedTodos,
  &__clear {
    cursor: pointer;
    &--num {
      margin-right: 5px;
    }
  }

  &__completedTodos:hover,
  &__clear:hover {
    color: var(--tool-hover);
  }
  &__filterWrapper {
    width: fit-content;
    @include small {
      position: absolute;
      top: calc(var(--height) + 20px);
      left: 0;
      @include box();
      @include center-item();
    }
  }
  &__filter {
    & p {
      cursor: pointer;
      font-weight: 700;
      margin-right: 10px;
      @include medium {
        margin-right: 5px;
      }
      @include small {
        margin-right: 15px;
      }
      &--option {
        color: $blue;
      }
      & p:hover {
        color: var(--tool-hover);
      }
    }
  }
}
